[submodule "elm-todo-reindex"]
	path = elm-todo-reindex
	url = https://github.com/diegonc/elm-todo-reindex.git
[submodule "elm-pong-game"]
	path = elm-pong-game
	url = https://github.com/diegonc/elm-pong-game.git
[submodule "elm-globalwebindex-challenge"]
	path = elm-globalwebindex-challenge
	url = https://github.com/diegonc/elm-globalwebindex-challenge.git
	branch = t/first-step
[submodule "elm-fib-rug-plot"]
	path = elm-fib-rug-plot
	url = https://github.com/diegonc/elm-fib-rug-plot.git
